<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h3>회원 가입</h3>
    <form action="/user/signup" method="post">
        <table>
            <tr>
                <td>name : </td>
                <td><input type="text" name="username" placeholder="이름을 입력해주세요"></td>
            </tr>
            <tr>
                <td>ID : </td>
                <td><input type="text" name="userID" placeholder="2자이상 8자이하"></td>
            </tr>
            <tr>
                <td>password :</td>
                <td><input type="password" name="password" placeholder="6자이상 10자이하"></td>
            </tr>
            <!-- <tr>
                <td>password check :</td>
                <td><input type="password" name="passwordCheck" placeholder="비밀번호를 한번더 입력해주세요."/></td>
            </tr> -->
            <tr>
                <td><input type="submit" value="회원가입"></td>
            </tr>
        </table>
    </form>
</body>
</html>