<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <form action="/user/login" method="post">
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to
      <%= title %></p>
    <input type="submit" value="로그인">
  </form>
</body>

</html>